header {
    background-color: #424E61;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
width: 1200px;
display: inline-block;

}

.cabecalho-lista-item {
display: inline-block;
margin: 200, 200;


}